@use './styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-page-bg;
  color: $color-panel-text;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
