// Colours 

// Core brand
$color-primary:        #43B02A;  
$color-secondary:      #54bc3d;  
$color-accent:         #61CE70;  
$color-text:           #433E3F;  

$color-green-mid:      #22BB33;  
$color-blue-dark:      #133F8C;  
$color-green-dark:     #095538;  
$color-red:            #CC3300;  
$color-yellow:         #F6BE48;  
$color-purple:         #413F84;  

$color-white:          #FFFFFF;
$color-black:          #000000;
$color-grey-light:     #D5D5D5;

$color-panel-left:     #FFFFFF;     
$color-panel-center:   #F0F9EE;     
$color-panel-right:    #FFFFFF;     
$color-panel-header:   #43B02A;     
$color-panel-border:   #D6EDD0;     
$color-panel-text:     #2B2B2B;     
$color-page-bg:        #EBF5E8;     


// fonts

$font-family-base:             'Inter', Sans-serif;

$font-family-primary:          'Inter';
$font-weight-primary:          700;

$font-family-secondary:        'Inter';
$font-weight-secondary:        400;

$font-family-text:             'Inter';
$font-weight-text:             400;

$font-family-accent:           'Inter';
$font-weight-accent:           500;

$font-size-base:               18px;